<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<h1><%= test.title %></h1>
<h1><%= data.Search[0].Title %></h1>
</body>
</html>